html {
  background-color: rgb(52, 52, 147);
}

body {
  margin: 2vh 2vw 2vh 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: white;
}

.computer_flex {
  display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.group_form {
  background-color: rgb(76, 76, 146);
  padding: 2vh 5vw 2vh 5vw;
  margin-left: 2vw;
  margin-right: 2vw; 
}

.element_form {
    margin: 1vh 1vw 1vh 1vw;
}


.center {
  justify-content: center;
}

.stats {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

h5 {
  padding-right: 5em;
}

h4 {
  margin-bottom: 4vh;
}

footer {
  margin-top: 5vh;
  box-sizing: border-box;
  border: solid;
}

@media screen and (max-width: 875px) {
  .computer_flex {
      display: block;
  }

  .element_form b {
    display: block;
    width: 50%;
  } 

  .element_form :nth-child(2) {
    display: block;
    width: 50%;
  }

}