html {
  background-color: rgb(52, 52, 147);
}

:root {
  --text_size: 1;
}


.titre {
  margin-top: 5px;
  margin-left: 15px;
}


body {
  margin: 2vh 2vw 2vh 2vw;
  padding: 0 2vw 2vh 2vw;
  background-color: white;
}

.computer_flex,.flex {
  display: flex;
}


.wrap {
    flex-wrap: wrap;
}

.group_form {
  background-color: rgb(76, 76, 146);
  padding: 2vh 5vw 2vh 5vw;
  margin: 0 2vw 3vh 2vw;
}

p {
  font-size: calc(1em * var(--text_size));
}

h1 {
  font-size: calc(2em * var(--text_size));
}

h2 {
  font-size: calc(1.7em * var(--text_size));
}

h4 {
  font-size: calc(1.5em * var(--text_size));
}

h5 {
  font-size: calc(1.3em * var(--text_size));
}

#theses, #alerts {
  padding-bottom: 3vh;
}

.element_form {
    margin: 1vh 1vw 1vh 1vw;
}


.center {
  justify-content: center;
}

.stats {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

h5 {
  padding-right: 1vw;
}

h4 {
  margin-bottom: 4vh;
}

footer {
  margin-top: 5vh;
  box-sizing: border-box;
  border: solid;
}


@media screen and (max-width: 875px) {
  .computer_flex {
      display: block;
  }

  .element_form b {
    display: block;
    width: 50%;
  } 

  .element_form :nth-child(2) {
    display: block;
    width: 50%;
  }

}