# AuthGroupFile /dev/null
# non fonctonnel

# parti a decommenter
 AuthBasicAuthoritative On
 AuthUserFile "C:\laragon\www\projet_web\.htpasswd"
 AuthGroupFile /dev/null
 AuthName "Authentification"
 AuthType Basic
 <Limit GET>
 require valid-user
 </Limit>